# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Node.js
node_modules/
npm-debug.log*

# Environment variables (ความลับ)
.env

# OS files
.DS_Store
Thumbs.db

credentials.json
credentials_backup.json

__pycache__